In [58]:
# import packages
import pandas as pd
import numpy as py
import matplotlib as plt

from sklearn import tree
from sklearn import preprocessing
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn import ensemble

In [3]:
# import data
Churn = pd.read_csv('Churn_Calls.csv')
Churn.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,AK,1,area_code_408,no,no,0,175.2,74,29.78,151.7,79,12.89,230.5,109,10.37,5.3,3,1.43,1,no
1,AK,36,area_code_408,no,yes,30,146.3,128,24.87,162.5,80,13.81,129.3,109,5.82,14.5,6,3.92,0,no
2,AK,36,area_code_415,yes,yes,19,171.9,96,29.22,198.4,111,16.86,321.7,76,14.48,10.5,1,2.84,1,yes
3,AK,41,area_code_415,no,no,0,159.3,66,27.08,125.9,75,10.70,261.9,76,11.79,11.1,5,3.00,1,no
4,AK,42,area_code_415,no,no,0,171.0,129,29.07,183.9,96,15.63,130.2,90,5.86,4.6,6,1.24,0,no

In [4]:
# move target churn to 1st position, delete from previous position

targetName = 'churn'
targetSeries = Churn[targetName]

#remove target from current location and insert in collum 0
del Churn[targetName]
Churn.insert(0, targetName, targetSeries)

#reprint dataframe and see target is in position 0
Churn.head()

,churn,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
0,no,AK,1,area_code_408,no,no,0,175.2,74,29.78,151.7,79,12.89,230.5,109,10.37,5.3,3,1.43,1
1,no,AK,36,area_code_408,no,yes,30,146.3,128,24.87,162.5,80,13.81,129.3,109,5.82,14.5,6,3.92,0
2,yes,AK,36,area_code_415,yes,yes,19,171.9,96,29.22,198.4,111,16.86,321.7,76,14.48,10.5,1,2.84,1
3,no,AK,41,area_code_415,no,no,0,159.3,66,27.08,125.9,75,10.70,261.9,76,11.79,11.1,5,3.00,1
4,no,AK,42,area_code_415,no,no,0,171.0,129,29.07,183.9,96,15.63,130.2,90,5.86,4.6,6,1.24,0
5,no,AK,48,area_code_415,no,yes,37,211.7,115,35.99,159.9,84,13.59,144.1,80,6.48,12.2,1,3.29,1
6,no,AK,50,area_code_408,no,no,0,183.6,107,31.21,58.6,118,4.98,202.6,99,9.12,8.7,3,2.35,1
7,no,AK,51,area_code_510,yes,yes,12,135.8,60,23.09,200.6,134,17.05,192.4,98,8.66,12.3,7,3.32,2
8,no,AK,52,area_code_408,no,no,0,217.0,104,36.89,152.3,83,12.95,134.3,109,6.04,11.8,4,3.19,2
9,no,AK,52,area_code_415,no,yes,24,170.9,71,29.05,201.4,80,17.12,159.0,124,7.15,4.1,5,1.11,2

In [20]:
# This code turns a text target into numeric to some scikit learn alogrythms can process it
le_dep = preprocessing.LabelEncoder()
#to convert into numbers
Churn['churn'] = le_dep.fit_transform(Churn['churn'])

In [21]:
# perform data transformation. Creates dummies of any categorical feature
for col in Churn.columns[1:]:
	attName = col
	dType = Churn[col].dtype
	missing = pd.isnull(Churn[col]).any()
	uniqueCount = len(Churn[attName].value_counts(normalize=False))
	# discretize (create dummies)
	if dType == object:
		bank = pd.concat([Churn, pd.get_dummies(Churn[col], prefix=col)], axis=1)
		del Churn[attName]

In [5]:
#TODO EDA

In [22]:
# split dataset into testing and training
features_train, features_test, target_train, target_test = train_test_split(
    Churn.iloc[:,1:].values, Churn.iloc[:,0].values, test_size=0.30, random_state=0)

In [23]:
print(features_test.shape)
print(features_train.shape)
print(target_test.shape)
print(target_train.shape)

(1500, 15)
(3500, 15)
(1500,)
(3500,)

## Decision Tree

In [24]:
# decision tree
dt = tree.DecisionTreeClassifier()

#print(dt)
# todo change at least two default parameters

# fit
dt = dt.fit(features_train, target_train)

# predict
target_predicted_dt = dt.predict(features_test)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [30]:
print("DT Accuracy Score", accuracy_score(target_test, target_predicted_dt))
print(classification_report(target_test, target_predicted_dt))
print(confusion_matrix(target_test, target_predicted_dt))

DT Accuracy Score 0.874
             precision    recall  f1-score   support

          0       0.93      0.92      0.93      1285
          1       0.56      0.60      0.58       215

avg / total       0.88      0.87      0.88      1500

[[1182  103]
 [  86  129]]

### Cross validate Tree

In [35]:
#verify DT with Cross Validation
scores = cross_val_score(dt, features_train, target_train, cv=5)
print("Cross Validation Score for each K",scores)
scores.mean()

Cross Validation Score for each K [ 0.86590585  0.87731812  0.84857143  0.88412017  0.85693848]

0.86657080991127378

Cross validation shows that each model stayed consistently within a small range and inline with the average measure

## KNN

In [42]:
# call
knn = KNeighborsClassifier(n_neighbors = 3)

# fit
knn.fit(features_train, target_train)

# predict
target_predicted_knn = knn.predict(features_test)

In [46]:
print("KNN Accuracy Score", accuracy_score(target_test, target_predicted_knn))
print(classification_report(target_test, target_predicted_knn))
print(confusion_matrix(target_test, target_predicted_knn))

KNN Accuracy Score 0.874666666667
             precision    recall  f1-score   support

          0       0.90      0.96      0.93      1285
          1       0.61      0.35      0.45       215

avg / total       0.86      0.87      0.86      1500

[[1236   49]
 [ 139   76]]

### Cross validate KNN

In [48]:
#verify KNN with Cross Validation
scores = cross_val_score(knn, features_train, target_train, cv=5)
print("Cross Validation Score for each K",scores)
scores.mean()

Cross Validation Score for each K [ 0.86305278  0.86733238  0.87714286  0.87839771  0.88125894]

0.87343693471094552

Cross validation shows that each model stayed consistently within a small range and inline with the average measure

## Naive Bayes

In [53]:
# call
nb = GaussianNB()
#print(nb)

# fit
nb.fit(features_train, target_train)

# predict
target_predicted_nb = nb.predict(features_test)

In [54]:
print("NB Accuracy Score", accuracy_score(target_test, target_predicted_nb))
print(classification_report(target_test, target_predicted_nb))
print(confusion_matrix(target_test, target_predicted_nb))

NB Accuracy Score 0.885333333333
             precision    recall  f1-score   support

          0       0.91      0.96      0.93      1285
          1       0.64      0.45      0.53       215

avg / total       0.87      0.89      0.88      1500

[[1232   53]
 [ 119   96]]

### Cross validate Naive Bayes

In [56]:
#verify NB with Cross Validation
scores = cross_val_score(nb, features_train, target_train, cv=5)
print("Cross Validation Score for each K",scores)
scores.mean()

Cross Validation Score for each K [ 0.87874465  0.88873039  0.88428571  0.88268956  0.88125894]

0.88314184956062591

Cross validation shows that each model stayed consistently within a small range and inline with the average measure

## Random Forest

In [67]:
#call
rf=ensemble.ExtraTreesRegressor(n_estimators=10,random_state=42)

#fit
rf.fit(features_train, target_train)

#predict
target_predicted_rf = rf.predict(features_test)

In [72]:
from sklearn import metrics
def measure_performance(X,y,clf, show_accuracy=True, show_classification_report=True, show_confusion_matrix=True, show_r2_score=False):
    y_pred=clf.predict(X)   
    if show_accuracy:
        print("Accuracy:{0:.3f}".format(metrics.accuracy_score(y,y_pred)),"\n")

    if show_classification_report:
        print("Classification report")
        print(metrics.classification_report(y,y_pred),"\n")
        
    if show_confusion_matrix:
        print("Confusion matrix")
        print(metrics.confusion_matrix(y,y_pred),"\n")
        
    if show_r2_score:
        print("Coefficient of determination:{0:.3f}".format(metrics.r2_score(y,y_pred)),"\n")

        
measure_performance(features_test,target_test,rf, show_accuracy=False, show_classification_report=False,show_confusion_matrix=False, show_r2_score=True)

Coefficient of determination:0.481